@import url('https://fonts.cdnfonts.com/css/handlee');


body{
    overflow-x: hidden; 
    width:100%;
    height:100%;
}


    .content {
        width: 100%;
        text-align: center;
        color: #FFFFFF;
        font-family: 'handlee';
        font-size: larger;
        margin-top: 100px;
    }
    .content h1 {
        font-size: 60px;
        margin-top: 10px;
        padding-bottom: 30px;
        text-transform: uppercase;
    }

    .content h2 {
        font-size: 30px;
        font-family: 'handlee'
    }

    .content p {
        margin: 20px 200px;
        line-height: 1000px;
        font-family: 'handlee';
    }

    .banner {
        width: 100%;
        padding: 0 0;
        height: 100vh;
        align-items: center;
        background-image: linear-gradient(#0000007f, #0000007f), url("../images/QuantumHeaderBg.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .container {
        max-width: 1000px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        font-family: 'handlee';
        align-items: center;
        line-height: 30px;
        margin: 1000px, auto !important;
        position: absolute;
        transform: translate(calc(50vw - 500px))
    
    }
    
    .grid_item {
        padding: 20px;
        text-align: center;
        color: #FFFFFF;
        font-family: 'PublicPixel';
        color: #FFFFFF;
        margin-block-start: 725px;
        background-color: #22222220;
    }
    
    .grid_item img {
        max-width: 80%;
        height: auto;
    }

    .grid-item {
        padding: 20px;
        text-align: center;
        color: #FFFFFF;
        font-family: 'PublicPixel';
        color: #FFFFFF;
    }

    .grid-item img {
        max-width: 90%;
        height: auto;
    }

    .grid_item h2 {
        font-family: 'handlee', sans-serif;
        font-size: 35px;
        font-weight: bold;
        padding-bottom: 20px;
    }

    .grid_item p {
        font-family: 'handlee', sans-serif;
        font-size: 20px;
        font-weight: 300;
        line-height: 25px;
    }

    .grid-item h2 {
        font-family: 'handlee', sans-serif;
        font-size: 35px;
        font-weight: bold;
        padding-bottom: 20px;
    }

    .grid-item p {
        font-family: 'handlee', sans-serif;
        font-size: 20px;
        font-weight: 300;
        line-height: 25px;
    }

    .grid-item li {
        font-family: 'handlee', sans-serif;
        font-size: 15px;
        font-weight: 250px;
        line-height: 25px;
       
    }

    .instructions{
        text-align: center;
        color: #FFFFFF;
        text-transform: uppercase;
        font-size: 40px;
        margin-block-start: 1200px;
        font-family:'handlee';
      }
      
      .instructions-info{
        text-align: center;
        color: #FFFFFF;
        margin-block-start: 20px;
        padding-bottom: 20px;
        margin-left: 350px;
        margin-right: 350px;
        font-family:'handlee';
      }  

      .instructions-info p {
        color: #FFFFFF;
        font-family:'handlee';
        font-size: 20px;
      }  

      .instructions-info li {
        text-align: center;
        color: #FFFFFF;
        margin-block-start: 20px;
        padding-bottom: 20px;
        font-family:'handlee';
      }  
    

    footer{
        transform: translateY(-15vh);
        position: relative;
    }


    