  @font-face {
    font-family: 'Tarrget';
    font-style: normal;
    font-weight: 400;
    src: local('Tarrget'), url('../fonts/tarrget.woff') format('woff');
}

@font-face {
    font-family: 'Truly Madly Dpad';
    font-style: normal;
    font-weight: 400;
    src: local('Truly Madly Dpad'), url('../fonts/TrulyMadlyDpad.woff') format('woff');
}

@font-face {
    font-family: 'Buchanan';
    font-style: normal;
    font-weight: 400;
    src: local('Buchanan'), url('../fonts/buchanan.woff') format('woff');
}
/*Custom fonts taken from the internet whose woff files have been uploaded into the fonts file so it is accessible even whilst offline.*/



.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #FFFFFF;
  }
  
  .content h1{
    font-size: 100px;
    margin-top: 80px;
    text-transform: uppercase;
    font-family: 'Tarrget', sans-serif;
  }
  
  .banner {
    width: 100%;
    padding: 0 0;
    height: 100vh;
    align-items: center;  
  }
  
  .content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    color: #FFFFFF;
  }

/*This .content and .banner CSS code formats the banner of a game image and the informative text as well as the title neatly in line through
different styles of aligning, such as align-items:center and position:absolute. */

h2 {
    font-size: 55px;
    margin-top: 30px; 
    text-align: center;
    font-family: 'Buchanan', sans-serif;
    color: #FFFFFF;
}

p {
    margin-top: 50px; 
    font-size: 25px;
    font-family: 'Truly Madly Dpad', sans-serif;
    text-align: center;
    color: #FFFFFF;
}

/*Genuine p and h2 styling codes that universally styles all p and h2 parts of the html code*/
    .banner {
        width: 100%;
        padding: 0 0;
        height: 100vh;
        align-items: center;
        background-image: linear-gradient(#0000007f, #0000007f), url("../images/Avillheaderbg.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .content h1:nth-child(1){
        color: #7393B3;
    }
    .content p {
        margin: 20px auto;
        font-weight: 100;
        line-height: 25px;
    }


.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

/*Further extension on the .banner and .content divs at the top of the website, this CSS adds the gradient to the banner image and adds the image itself.
It further styles the .content's paragraphs but not messing with the websites paragraphs.*/


.image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}



.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
/*Code that defines how center looks like on the website*/

  h3{
    font-size:47px;
    margin-top:10px;
    text-align:center;
    font-family: 'Buchanan', sans-serif;
    color:#FFFFFF 
  }
/*Genuine website header3 styling code*/

  .image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top:60px;
}

.image {
    position: relative;
    text-align: center;
    width: 30%;
}
.image img {
    max-width: 300px;
    height: 250px;
}
/*The 3 aligned images rely on these styling code, it uses the complex flex and justify-content code that efficiently aligns
elements in a straight and centrical manner for a more visual appeal.*/

.text {
    position: absolute;
    top: -50px; 
    left: 0;
    right: 0;
    color: #FFFFFF;
    padding: 10px;
    font-family: 'Truly Madly Dpad', sans-serif;
}
/*Styles and aligns the text above the 3 aligned images.*/

.purple-line {
    border-top: 2px solid #800080; 
    width: 100%; 
}


.DAV-container {
    display: flex;
    align-items: center;
}

.DAVimage {
    flex: 1;
    padding: 20px;
}

.DAVimage img {
    max-width: 100%; 
    max-height: 900px; 
}

.DAVtext {
    flex: 1;
    padding: 20px;
}

/*Code that aligns the several platforms with purple cyber style properly.
Further defines classes for a container, image, and text, creating a flex layout with centered alignment and image size constraints./