@import url('../images/PublicPixel.ttf');


.container {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid-item {
    padding: 20px;
    text-align: center;
    color: #fff;
    font-family: 'PublicPixel', sans-serif;
}

.grid-item img {
    max-width: 80%;
    height: auto;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    font-family: 'Public Pixel', sans-serif;
}

.content h1 {
    font-size: 50px;
    margin-top: 80px;
    text-transform: uppercase;
}

.content h1:nth-child(1){
    color: #7393B3;
}


.banner {
    width: 100%;
    padding: 0 0;
    height: 100vh;
    align-items: center;
    background-image: linear-gradient(#0000007f, #0000007f), url("../images/grassBackground.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.content p {
    margin: 20px 200px;
    font-weight: 100;
    line-height: 25px;
}