 @import url('https://fonts.cdnfonts.com/css/tarrget');
 @import url('https://fonts.cdnfonts.com/css/truly-madly-dpad');
 @import url('https://fonts.cdnfonts.com/css/buchanan');


.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #FFFFFF
    ;
    font-family: 'Tarrget', sans-serif;
}


.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

h1 {
    font-size: 85px;
    margin-top: 80px;
    text-transform: uppercase;
}

h2 {
    font-size:55px;
    margin-top:15px;
    text-align:center;
    font-family: 'Buchanan', sans-serif;
    color:#FFFFFF 
}
p{
    font-size:25px;
    font-family: 'Truly Madly Dpad', sans-serif;
    text-align: center;
    color:#FFFFFF
}
    .banner {
        width: 100%;
        padding: 0 0;
        height: 100vh;
        align-items: center;
        background-image: linear-gradient(#0000007f, #0000007f), url("../images/Avillheaderbg.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .content h1:nth-child(1){
        color: #7393B3;
    }
    .content p {
        margin: 20px auto;
        font-weight: 100;
        line-height: 25px;
    }



.content h1:nth-child(1) {
    color: #7393B3;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}


.container{
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    padding:15px;
    justify-content: center;    
    align-items: center; 
}

.gamepic{
padding: 20px;
text-align:center;
color:#FFFFFF;
font-family: 'Truly Madly Dpad', sans-serif;
}

.gamepic img{
    max-width: 75%;
    height: auto;
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }