.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff;
}

* {
    text-decoration: none;
    font-family: Verdana, sans-serif;
}

.content h1 {
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 100px;
}

.banner {
    width: 100%;
    padding: 0 0;
    height: 100vh;
    align-items: center;
    background-image: linear-gradient(#0000007f, #0000007f), url("../images/homePageBackground.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



/*Checkout CSS*/
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

.games{
    display: grid;
    grid-template-columns: 1fr 8fr 3fr;
    gap: 1rem;
    width: 100%;
    padding: 1.5rem;
    cursor: pointer;
    
}

.title{
    font-size: 52px;
    text-align: center;
    margin: 4rem 0;
    color: #ffffff;
}

.price{
    display: block;
    margin-top: .5rem;
    text-align: right;
}

.checkout-container{
    display: flex;
    flex-direction: column;
    min-width: 400px;
    margin-top: 2rem;
    background-color: #24252A;
    padding: 1.5rem;
    border-radius: 15px;
}

.game-type,.billing,.checkout-btn{
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.game-type{
    padding-top: 0;
    margin: 0;
}

.game-type:last-of-type{
    border-bottom: 1px solid #7a6d86;
}

.billing{
    margin: 0;
}

.checkout-btn{
    background-color: #b266ff;
    border: none;
    outline: none;
    color: #ffffff;
    cursor: pointer;
    border-radius: 15px;
    padding: 1rem 35%;
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
    

}

.checkout-btn:hover{
    background-color: #b266ffcc;
}

.billing-text{
   color: #D3D3D3;
   text-decoration: none;
   display: block;
   float: right;
   text-align: right;
   padding-top: 0;
   margin: 0;
}