/*Common CSS*/
.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff;
}

* {
    text-decoration: none;
    font-family: Verdana, sans-serif;
    transition: filter 0.3s ease-in-out;
}

button{
    cursor: pointer;
}

.content h1 {
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 100px;
}

.banner {
    width: 100%;
    padding: 0 0;
    height: 100vh;
    align-items: center;
    background-image: linear-gradient(#0000007f, #0000007f), url("../images/homePageBackground.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



/*Checkout CSS*/
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

.games {
    display: grid;
    grid-template-columns: 1fr 8fr 3fr;
    gap: 1rem;
    width: 100%;
    padding: 1.5rem;
    cursor: pointer;
    border-bottom: 2px solid #7a6d86;
    transition: all 0.3s ease-in-out;

    &:hover {
        cursor: pointer;
        border-bottom: none;
        background-color: #e9d1ff;
    }
}

.title {
    font-size: 52px;
    text-align: center;
    margin: 4rem 0;
    color: #ffffff;
}

.price {
    display: block;
    margin-top: .5rem;
    text-align: right;
}

.checkout-container {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    margin-top: 2rem;
    background-color: #24252A;
    padding: 1.5rem;
    border-radius: 15px;
}

.game-type,
.billing,
.checkout-btn {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.game-type {
    padding-top: 0;
    margin: 0;
}




.game-type:last-of-type {
    border-bottom: 1px solid #7a6d86;
}

.billing {
    margin: 0;
}

.checkout-btn {
    background-color: #b266ff;
    border: none;
    outline: none;
    color: #ffffff;
    cursor: pointer;
    border-radius: 15px;
    padding: 1rem 35%;
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;


}

.checkout-btn:hover {
    background-color: #b266ffcc;
}

.billing-text {
    color: #D3D3D3;
    text-decoration: none;
    display: block;
    float: right;
    text-align: right;
    padding-top: 0;
    margin: 0;
}

/*CSS for modal box*/

.modal-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 380px;
    width: 100%;
    border-radius: 24px;
    background-color: #000000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 10px #0000001a;
    padding: 30px 20px;
    border: 3px solid #4c0099;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    backdrop-filter: blur(5px) !important;
    ;
}

.modal-box.activeModal {
    opacity: 1;
    pointer-events: auto;
}

.modal-box i {
    font-size: 70px;
    color: #ffffff;
}

.modal-box h2 {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 400;
    color: #ffffff;
    animation: opacity 0.3s ease-in-out;

}

.modal-box h3 {
    font-size: 16px;
    font-weight: 400;
    color: #cccccc;
    text-align: center;
    animation: opacity 0.3s ease-in-out;
}

.modal-box .buttons {
    margin-top: 25px;
    animation: opacity 0.3s ease-in-out;
}

.modal-box button {
    font-size: 20px;
    padding: 6px 12px;
    margin: 0 10px;
    font-weight: 400;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

#close-btn {
    background-color: #f44336;
    color: #ffffff;
}

#yes-btn {
    background-color: #4CAF50;
    color: #ffffff;
}

/*Loading CSS*/
.checkLabel {
    height: 125px;
    width: 125px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #ffffff33;
    border-left-color: #4c0099;
    animation: rotate 1.2s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.checkLabel .check-icon {
    display: none;
}

.checkLabel .check-icon::after {
    position: absolute;
    content: "";
    top: 6%;
    left: 50%;
    transform: translate(-50%, 50%) scaleX(-1) rotate(135deg);
    height: 56px;
    width: 28px;
    border-right: 8px solid #4c0099;
    border-top: 8px solid #4c0099;
    animation: check-icon 2.8s ease;
}

@keyframes check-icon {
    0% {
        height: 0;
        width: 0;
        opacity: 1;
    }

    2% {
        height: 0;
        width: 28px;
        opacity: 1;
    }

    40% {
        height: 56px;
        width: 28px;
        opacity: 1;
    }

    100% {
        height: 56px;
        width: 28px;
        opacity: 1;
    }
}

.checkLabel.checked .check-icon {
    display: block;
}

.checkLabel.checked {
    animation: none;
    border-color: #4c0099;
}

#blurWrapper.blurred>*:not(.modal-box) {
    filter: blur(15px);
    pointer-events: none;
}

input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.payLabel {
    margin-bottom: 10px;
    color: #ffffff;
    display: block;
}

.modal-box:not(.activeModal){
    pointer-events: none;
}