
@font-face {
    font-family: 'Public Pixel';
    font-style: normal;
    font-weight: 400;
    src: local('Public Pixel'), url('../fonts/PublicPixel.woff') format('woff');
}
/*Downloaded custom font so it works even if offline*/



/*Common CSS*/
body{
    overflow-x: hidden; /*Hide the overflow on the x axis so that the charecter is not seen when it is off screen*/
    width:100%;
    height:100%;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #FFFFFF;
    font-family: 'Public Pixel', sans-serif;
}

.content h1 {
    font-size: 50px;
    margin-top: 80px;
    text-transform: uppercase;
}

.content h1:nth-child(1){
    color: #7393B3;
}


.banner {
    width: 100%;
    padding: 0 0;
    height: 100vh;
    align-items: center;
    background-image: linear-gradient(#0000007f, #0000007f), url("../images/grassBackground.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.content p {
    margin: 20px 200px;
    font-weight: 100;
    line-height: 25px;
}

/*CSS for charecter animation*/
.hero{
    width:104px;
    height:111px;
    bottom: 150px;
    background: url("../images/heroWalk.png"); /*Image that has 6 frames of charecter walking*/
    margin: auto;
    position: relative;
    animation: heroWalk 1s steps(6) infinite, forwardHero 5s linear infinite;
    float: left;
}

@keyframes heroWalk { /*Animation for charecter changing frames by moving background image*/
    0% { background-position:0; }
    100% { background-position:-624px; }
}

@keyframes forwardHero { /*Animation for charecter moving forward, -200px is off the screen so it looks like the charecter is coming running on screen*/
    0% { transform: translate(-200px)}
    100% { transform: translate(100vw) }
}

.robot{
    width:104px;
    height:111px;
    bottom: 150px;
    background: url("../images/robotWalk.png"); /*Image that has 6 frames of charecter walking*/
    margin: auto;
    position: relative;
    animation: robotWalk 1s steps(6) infinite, forwardRobot 5s linear infinite;
    animation-delay: 1s;
    float: left;
}

@keyframes robotWalk { /*Animation for charecter changing frames by moving background image*/
    0% { background-position:0; }
    100% { background-position:-624px; }
}

@keyframes forwardRobot { /*Animation for charecter moving forward, -300px is off the screen so it looks like the charecter is coming running on screen and that it is always behind the main charecter*/
    0% { transform: translate(-300px)}
    100% { transform: translate(100vw) }
}

.container {
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: 'Public Pixel', sans-serif;
    align-items: center;
    line-height: 30px;
    position: absolute;
    transform: translate(calc(50vw - 500px)); /*Center this div on all screen sizes using viewport*/

}

/* Grid item CSS */
.grid-item {
    padding: 20px;
    text-align: center;
    color: #fff; /* White text color */
    font-family: 'PublicPixel';
}

/* Images inside grid items */
.grid-item img {
    max-width: 80%;
    height: auto; /* Maintain image aspect ratio */
}


footer{
    transform: translateY(200vh); /*Change the position of the footer because it was coming above the text*/
    position: relative;
}