.footer{
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    background-color:#140749;
    text-align:center;
    max-height: 230px;
  }

  .footer h4{
    text-align:left;
    color:#90019a;
    font-weight:1000;
  }

  .footerstick {
    min-height: 100vh;
    position: relative;
  }



  .footer h6{
    text-align:left;
    color:#FFFFFF;
    font-size:20px;
  }

  .footer li{
    text-align:left;
    color:#FFFFFF;  
    font-size:8px;
  }

  .footer {
    padding-left: 0; 
  }

.footer h4 {
    margin-bottom: 10px; 
  }

  .footer h6 {
    margin-top: 0;
    margin-bottom: 5px; 
  }

  .footer li {
    list-style: none; 
    margin: 5px 0; 
  }