*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}


footer{
    margin-top:100px;
    background-color:#140749;
}

/*Sets the basic style for the footer such as colour,height and placement amongst other elements.*/

.footer-container{
    width:100%;
    padding:70px 30px 20px;
}

/*States the footer container's sizing styles.*/

.footerNavigation ul{
    display:flex;
    justify-content:center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
/*Styles the ul (links) in the footer, such as alignment via the 'flex' code and font-family for appeal*/

.footerNavigation ul li a{
    color: #ffffff;
    margin:20px;
    text-decoration: none;
    font-size:1.3em;
    opacity:0.7;
    transition:0.5s;
}


.footerNavigation ul li a:hover{
    opacity:1;
}
/*Styles the aesthetics of the text in the footer*/

.copyrightsection{
background-color: #000;
padding: 35px 0; 
text-align: center;
max-height:40px;
}


.copyrightsection p {
    color: #FFFFFF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0; 
}
/*The small part of the footer for the copyright claim that legal businesses have, states the text size and style as well as the
small black part in which the copyright text lies.*/


.social-icons{
    justify-content: center;
    display: flex;
    gap: 2rem;
}

.social-button{
    cursor: pointer;
}
/*General code to align the social media icons in the footer.*/

