* {
    text-decoration: none;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #24252A;
    text-decoration: none;
}


header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 1%;
    width: 100%;
    transition: 0.6s;
    position: fixed;
    z-index: 999;

}

header.sticky {
    background-color: #24252A;
    float: center;
    top: 0;
    left: 0;
    height: 10%;
}

.outer-header {
    width: 100%;
    padding: 0 0;
    height: 50vh;
    align-items: center;
}

.logo {
    cursor: pointer;
    width: 400px;
    height: auto;
    transform: translateX(calc(-93vw + 800px))

}



.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 10px;
    position: relative;
    font-family: Verdana, sans-serif;
}




.nav_links li .nav-link,
.nav_links li button {
    transition: all 0.3s ease 0s;
    color: #FFFFFF;
}



.nav_links li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #b266ff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s
}

.nav_links li:hover::after {
    width: 100%;
}

.buy {
    padding: 9px 25px;
    background-color: #b266ff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #FFFFFF;
    margin-left: 20px
}

.buy:hover {
    background-color: #b266ffcc;
}


.dropdownBtn {
    background: none;
    border: none;
    text-decoration: none;
    font-size: inherit;
    font-size: 17px;
    cursor: pointer;
}

.dropdownBtn:focus {
    background: none;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    left: 0;
    width: calc(100% + 10rem);
    top: calc(100% + .8rem);
    background: #000;
    border: solid #4c0099;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 #0000001a;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    pointer-events: none;
}


.dropdown.active>.dropdownBtn+.dropdown-menu {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;
}

.dropdown-links {
    border-spacing: 0 15px;
}

.dropdown-link {
    color: #FFFFFF;
    transition: all 0.3s ease 0s;
}

.dropdown-link:hover {
    color: #b266ffcc;
}