* {
  text-decoration: none;
  font-family: Verdana, sans-serif;
}

body {
  background-image: linear-gradient(#0000007f, #0000007f), url("../images/homePageBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  overflow-x: hidden;
}
/*Sets the code to style and position the infinite scrolling background effect*/

h2{
  color:#FFFFFF;
  text-align:center;
  font-size:40px;
  margin-bottom:10px;
}
.content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #FFFFFF;
}

.content h1 {
  font-size: 50px;
  margin-top: 80px;
  text-transform: uppercase;
}

.banner {
  width: 100%;
  padding: 0 0;
  height: 100vh;
  align-items: center;
}

.content p {
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
  color: #FFFFFF;
}
/*This .content and .banner CSS code formats the banner of a game image and the informative text as well as the title neatly in line through
different styles of aligning, such as align-items:center and position:absolute. */
.check {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #4c0099;
  background: transparent;
  color: #FFFFFF;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.button_effect {
  background: #4c0099;
  height: 100%;
  width: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  border-radius: 25px;
  z-index: -1;
  transition: 0.5s;
}

.check:hover .button_effect {
  width: 100%
}
/*Adds the smooth transition effect when you hover over the buttons.*/

/*CSS for Carousel*/
/*Area for Carosuel Start*/
.container{
  width: 100vw;
  height: 100vh;
  position: relative;
}
/*Area for Carosuel Start*/

/*Carosuel Screen Start*/
.carousel {
  border: 2px solid #FFFFFF;
  position: absolute;
  width: 60vw;
  height: 32vw;
  overflow: hidden;
  left: 50%;
  transform: translate(-50%)
}
/*Carosuel Screen End*/

/*Image Section Start*/
.slider {
  height: 100%;
  display: flex;
  width: 400%;
  transition: transform 1s;
}

.slider section {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF
}

.slider section img {
  width: 60vw;
  height: 32vw;
}
/*Image Section End*/

/*Arrows Start*/
.controls .arrow {
  position: absolute;
  top: calc(100vh + 16vw);
  color: #FFFFFF;
  cursor: pointer;
  font-size: 50px;
}
/*Arrows End*/

/*Arrows (Specifically Regarding to 1) Start*/
.arrow.left {
  left: 10%;
}

.arrow.right {
  right: 10%;
}
/*Arrows (Specifically Regarding to 1) End*/

h1 {
  font-family: Verdana, sans-serif;
  font-size: 88px;
  color: #FFFFFF;
  text-align: center;
}

h4 {
  font-size: 30px;
  color: #FFFFFF;
  text-align: center;
}
/*Genuine h1 and h4 styling code that universally appear on the website*/


.pricingrectangle {
  height: 350px;
  width: 250px;
  background-color: #140749;
}

.pricingrectangle {
  height: 350px;
  width: 250px;
  background-color: #090322;
  background-color: #140749;
}

.pricingrectanglescontainer {
  width: 100%;
  min-height: 100vh;
  margin-top:60px;
}

.pricingrectanglescontainer h2 {
  color: #FFFFFF;
  font-size: 32px;
  padding: 50px 0;
  text-align: center;
}

.price-row {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 25px;
}

.price-col {
  background: #140749;
  padding: 10% 15%;
  border-radius: 10px;
  color: #FFFFFF;
  text-align: center;
  
}

.price {
  background: #90019a;
  padding: 10% 15%;
  border-radius: 10px;
  color: #FFFFFF;
  text-align: center;
}

.price h3{
  color:#FFFFFF;
}

.price-col{
  color:#FFFFFF;
}

.price:hover {
  opacity: 0.5;
  transition: all 0.5s, opacity 0.5s ease-in-out;

}
/*The ".pricingrectangle" class sets the dimensions and background color for pricing boxes, while the ".pricingrectanglescontainer" class defines the layout for the container. 
Text styles, sizing, and centering are specified for headings and prices. The ":hover" selector adds an opacity effect on pricing boxes when they are hovered over, with a smooth transition.*/


.postergallerycontainer {
  margin-top: 20px;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
}

.posterbox {
  width: 100px;
  height: 500px;
  margin: 10px;
  position: relative;
  transition: width 0.5s;
}

.posterbox:nth-of-type(1){
  background: url("../images/AvAd-poster.png");
  background-size: cover;
  background-position: center;
}

.posterbox:nth-of-type(2) {
  background: url("../images/TAWOQC-poster.png");
  background-size: cover;
  background-position: center;
}

.posterbox:nth-of-type(3) {
  background: url("../images/ArtApoc-poster.png");
  background-size: cover;
  background-position: center;
}

.posterbox:nth-of-type(4) {
  background: url("../images/TLL-poster.png");
  background-size: cover;
  background-position: center;
}

.posterbox h3 {
  color: #FFFFFF;
  position: absolute;
  bottom: 0;
  left: 30px;
  opacity: 0;
  transition: bottom 0.5s, opacity 0.5s;
}

.posterbox:hover {
  width: 420px;
  height: 600px;
  cursor: pointer;
}

.posterbox:hover h3 {
  opacity: 1;
  bottom: 25px;
} 
/*The .postergallerycontainer and .gallery classes center and size the gallery. 
Individual poster containers (.posterbox) are styled with dimensions and a transition. Each poster is individualized using :nth-of-type and assigned posters. Poster titles within .posterbox h3 are initially hidden and revealed on hover with opacity and position adjustments. */


p {
  text-align: center;
  color: #FFFFFF;
}

/*Genuine styling for paragraphs universally across the webiste*/

.about-us-container{
  align-items: center;
  width: 1000px;
  margin: 0 auto;
}

/*Container for where the about us text will go*/
