@import url('https://fonts.cdnfonts.com/css/handlee');



.content {
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    font-family: 'handlee', sans-serif;
    font-size: larger;
    padding: 20px;
    margin-top: 80px;
}