body{
  background-color: #808080;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid-item {
    padding: 20px;
    text-align: center;
    font-family: 'PublicPixel', sans-serif;
    color: #FFFFFF;
    font-family: 'Public Pixel', sans-serif;
}

.grid-item img {
    max-width: 80%;
    height: auto;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #FFFFFF
}

.name h1 {
    font-size: 50px;
    margin-top: 800px;
    text-transform: uppercase;
    text-align: center;
}

.content h1:nth-child(1){
    color: #7393B3;
}

.content p {
    margin: 20px 200px;
    font-weight: 100;
    line-height: 25px;
}