 
   .name {
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: center;
  }
  
  .name h1 {
    font-size: 50px;
    margin-top: 80px;
    text-transform: uppercase;
  }

  .img-text {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.content {
    padding: 20px;
    text-align: center;
    color: #FFFFFF;
}

.content img {
    max-width: 80%;
    height: auto;
    float: left;
}

.content text {
  float: right;
}

  h1 {
    font-size: 50px;
    margin-top: 80px;
    text-transform: uppercase;
  }