.container {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
   }
   
   .name {
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: center;
    color: #FFFFFF;
  }
  
  .name h1 {
    font-size: 50px;
    margin-top: 80px;
    text-transform: uppercase;
  }

  .left-text{
    padding: 20px;
    text-align: center;
    float:left;
    color:#FFFFFF;
  }

.right-picture{
  max-width: 80%;
  height: auto;
    
}

.img-text {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

  h1 {
    font-size: 50px;
    margin-top: 8000px;
    text-transform: uppercase;
  }